In [4]:
#dependencies and set up
import pandas as pd
import numpy as np

In [5]:
# File to Load
pymoli = "Resources/purchase_data.csv"

In [6]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
purchase_data.count

<bound method DataFrame.count of      Purchase ID               SN  Age                 Gender  Item ID  \
0              0          Lisim78   20                   Male      108
1              1      Lisovynya38   40                   Male      143
2              2       Ithergue48   24                   Male       92
3              3    Chamassasya86   24                   Male      100
4              4        Iskosia90   23                   Male      131
5              5          Yalae81   22                   Male       81
6              6        Itheria73   36                   Male      169
7              7      Iskjaskst81   20                   Male      162
8              8        Undjask33   22                   Male       21
9              9      Chanosian48   35  Other / Non-Disclosed      136
10            10        Inguron55   23                   Male       95
11            11     Haisrisuir60   23                   Male      162
12            12     Saelaephos52   21                   Male      116
13            13      Assjaskan73   22                   Male        4
14            14      Saesrideu94   35                   Male      165
15            15        Lisassa64   21                 Female       98
16            16        Lisirra25   20                   Male       40
17            17        Zontibe81   21                   Male      161
18            18        Reunasu60   22                 Female       82
19            19        Chamalo71   30                   Male       89
20            20     Iathenudil29   20                   Male       57
21            21    Phiarithdeu40   20                   Male      168
22            22     Siarithria38   38  Other / Non-Disclosed       24
23            23         Eyrian71   40                   Male      151
24            24          Siala43   30                   Male      141
25            25        Lisirra87   29                   Male      178
26            26       Lirtossa84   11                   Male       71
27            27          Eusri44    7                   Male       96
28            28           Aela59   21                   Male      119
29            29          Tyida79   24                   Male       37
..           ...              ...  ...                    ...      ...
750          750         Iljask75   22                   Male      167
751          751      Lisjaskan36   11                   Male      180
752          752    Mindjasksya61   17                   Male      112
753          753   Frichirranya75   36                   Male      178
754          754  Pheosurllorin41   23                 Female       79
755          755         Raesty92   12                   Male       76
756          756          Ilast79   20                   Male       73
757          757        Eratiel90   18                   Male       57
758          758           Iral74   21                   Male      182
759          759      Tyaelorap29   25                   Male       72
760          760       Aithelis62   21                   Male       44
761          761          Assim27   45                   Male       17
762          762           Asur53   26                   Male      110
763          763     Lassilsala30   21                   Male       85
764          764     Saedaiphos46   18                   Male      113
765          765          Irith83   18                   Male      130
766          766     Aelastirin39   23                   Male       58
767          767          Ilmol66    8                 Female       92
768          768     Assassasta79   38                   Male       92
769          769        Ilosian36   15                   Male      145
770          770       Lirtosia63   34                   Male       12
771          771     Iskossasda43   16                   Male       25
772          772           Asur53   26                   Male      136
773          773           Hala31   21                   Male       19
774          774       Jiskjask80   11                   Male      101
775          775       Aethedru70   21                 Female       60
776          776           Iral74   21                   Male      164
777          777       Yathecal72   20                   Male       67
778          778          Sisur91    7                   Male      101
779          779        Ennrian78   24                   Male       50

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater   1.10
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish   1.70
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana   4.90
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence   4.60
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance   3.40
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
750                   Malice, Legacy of the Queen   3.61
751                                   Stormcaller   3.36
752                                  Worldbreaker   2.60
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence   4.60
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth   1.70
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn   4.60

[780 rows x 7 columns]>

In [9]:
# Total number of players by SN
total_players = purchase_data["SN"].value_counts()
total_players.count()

576

In [10]:
# count unique values
unique_values = purchase_data.groupby(['SN'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(unique_values)

# In order to be visualized, a data function must be used...
unique_values.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1125d41d0>

                 Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76               1    1       1        1          1      1
Adastirin33                1    1       1        1          1      1
Aeda94                     1    1       1        1          1      1
Aela59                     1    1       1        1          1      1
Aelaria33                  1    1       1        1          1      1
Aelastirin39               2    2       2        2          2      2
Aelidru27                  1    1       1        1          1      1
Aelin32                    3    3       3        3          3      3
Aelly27                    2    2       2        2          2      2
Aellynun67                 1    1       1        1          1      1
Aellyria80                 1    1       1        1          1      1
Aelollo59                  2    2       2        2          2      2
Aenarap34                  1    1       1        1          1      1
Aeral43                    1    1       1        1          1      1
Aeral68                    1    1       1        1          1      1
Aeral97                    1    1       1        1          1      1
Aeralria27                 1    1       1        1          1      1
Aeralstical35              1    1       1        1          1      1
Aeri84                     1    1       1        1          1      1
Aerillorin70               1    1       1        1          1      1
Aerithllora36              2    2       2        2          2      2
Aerithnucal56              1    1       1        1          1      1
Aerithnuphos61             1    1       1        1          1      1
Aerithriaphos45            1    1       1        1          1      1
Aerithriaphos46            1    1       1        1          1      1
Aesri53                    1    1       1        1          1      1
Aesty53                    2    2       2        2          2      2
Aestysu37                  2    2       2        2          2      2
Aesur96                    1    1       1        1          1      1
Aesurstilis64              1    1       1        1          1      1
...                      ...  ...     ...      ...        ...    ...
Undosia27                  1    1       1        1          1      1
Undosian34                 2    2       2        2          2      2
Undotesta33                1    1       1        1          1      1
Wailin72                   1    1       1        1          1      1
Yadacal26                  2    2       2        2          2      2
Yadaisuir65                1    1       1        1          1      1
Yadam35                    1    1       1        1          1      1
Yadanu52                   1    1       1        1          1      1
Yadaphos40                 2    2       2        2          2      2
Yalae81                    2    2       2        2          2      2
Yalaeria91                 1    1       1        1          1      1
Yaliru88                   1    1       1        1          1      1
Yalo85                     1    1       1        1          1      1
Yalostiphos68              1    1       1        1          1      1
Yana46                     1    1       1        1          1      1
Yarithllodeu72             1    1       1        1          1      1
Yarithrgue83               1    1       1        1          1      1
Yarithrin84                1    1       1        1          1      1
Yarithsurgue62             1    1       1        1          1      1
Yarolwen77                 1    1       1        1          1      1
Yasrisu92                  1    1       1        1          1      1
Yastyriaphos75             1    1       1        1          1      1
Yasur35                    1    1       1        1          1      1
Yasur85                    1    1       1        1          1      1
Yathecal72                 1    1       1        1          1      1
Yathecal82                 3    3       3        3          3      3
Yathedeu43                 2    2       2        2          2      2
Yoishirrala98              1    1       1        1          1      1
Zhisrisu83                 2    2       2        2          2      2
Zontibe81                  3    3       3        3          3      3

[576 rows x 6 columns]

In [11]:
total_unique = len(purchase_data["Item ID"].unique())
total_unique

183

In [12]:
#Average Purchase Price
average_purchase = round(purchase_data["Price"].mean(),2)
average_purchase

3.05

In [13]:
#Total Number of Purchases
total_purchases = len(purchase_data["Purchase ID"].value_counts())
total_purchases

780

In [14]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [15]:
purchasing_analysis = pd.DataFrame([
  {"Number of Unique Items": total_unique, "Average Purchase Price": f"${average_purchase}", "Total Number of Purchases": total_purchases, "Total Revenue": f"${total_revenue}"}
    
])
purchasing_analysis

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$3.05,183,780,$2379.77

In [16]:
purchase_data_unique = purchase_data.drop_duplicates("SN")
purchase_data_unique

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
731,731,Eudanu84,22,Female,12,Dawne,1.02
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

In [17]:
# The value_counts method counts unique values in a column
gender_count = purchase_data_unique["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [18]:
percentage_of_players = gender_count/576
percentage_of_players

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [19]:
#Percentage and Count of Players by Gender

gender_demos = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_of_players})
gender_demos.head()

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [20]:
### Purchasing Analysis (Gender)


# purchase_count = gender_count
avg_purchase_price = purchase_data.groupby("Gender").mean()["Price"]
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
#   * Total Purchase Value
total_purchase_value = purchase_data.groupby("Gender").sum()["Price"]
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
#   * Ave/\rage Purchase Total per Person by Gender

atp_pp = purchase_data.groupby("Gender").mean()["Price"]
atp_pp

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [23]:
purchase_analysis = pd.DataFrame({"Purchase Count": gender_count , "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value , "Avg Total Purchase Per Person": atp_pp})

                                  
purchase_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,81,3.203009,361.94,3.203009
Male,484,3.017853,1967.64,3.017853
Other / Non-Disclosed,11,3.346000,50.19,3.346000

In [33]:
age_analysis = {
    
    "Purchase Count": gender_count,
    "Percentage of Players": percentage_of_players
}
df = pd.DataFrame(age_analysis)
df

                       Purchase Count  Percentage of Players
Male                              484               0.840278
Female                             81               0.140625
Other / Non-Disclosed              11               0.019097

In [37]:
# Create the bins in which Data will be held
age_groups = [0, 9, 10, 14, 15, 19, 20, 24, 25, 29, 30, 34, 35, 39, 40]
# Create the names for the bins
group_names = ['<9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [38]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
df["Percentage of Players"] = pd.cut(purchase_data_unique["Purchase Count"], age_groups, labels = group_names)
df

TypeError: string indices must be integers

In [ ]:
# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

In [ ]:
### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [ ]:
### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:
### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:
# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.